<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Lista de Cantores</h1>
<a href="{% url 'cadastrar_cantor' %}">Cadastrar Novo Cantor</a>
<ul>
    {% for cantor in cantores %}
    <li>
        {{ cantor.nome }} - {{ cantor.cantores }}
        <a href="{% url 'editar_cantor' cantor.id %}">Editar</a>
        <a href="{% url 'excluir_cantor' cantor.id %}">Excluir</a>
    </li>
    {% endfor %}
    
</body>
</html>